@mixin cc_transition($x...){
	-webkit-transition: $x;
	-moz-transition: $x;
	-ms-transition: $x;
	-o-transition: $x;
}

.app-container{
	position: relative;
	overflow-x: hidden;
	>div{
		&.panels{
			position: relative;
			width: 100%;
		}
	}
}
#app-left-btn{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 8;
	display: none;
	border-radius: 0px;
  color: white;
  background: #0f90b7;
  box-shadow: 1px 0px 4px 0px #cacaca;
}

#app-right-btn{
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 8;
	display: none;
	border-radius: 0px;
  color: white;
  background: #0f90b7;
  box-shadow: 1px 0px 4px 0px #cacaca;
}

#dismiss-left{
	position: absolute;
	top: 0px;
	right: 0px;
}
#dismiss-right{
	position: absolute;
	top: 0px;
	left: 0px;
}
.btn-dismiss{
  position: absolute;
  top: 0px;
  border-radius: 0px;
  color: white;
  background: #0b4b7f;
  box-shadow: 0px 3px 5px 0px #000000;
  border: 1px solid #5d5d5d;
}
.btn-dismiss-success{
	position: absolute;
  top: 0px;
  border-radius: 0px;
  color: white;
  background: #108c2a;
  box-shadow: 0px 3px 5px 0px #656565;
  border: 1px solid #b3b3b3;
}
#panel-left{
	@include cc_transition(all 0.2s ease-in-out);
	*{
		color: white;
	}
}

#panel-right{
	@include cc_transition(all 0.2s ease-in-out);
	.card-header{
		text-align: right;
	}
}
#panel-center{
	.card-header{
		text-align: center;
	}
}

@media(min-width: 300px){
	.app-container{
		>div{
			&#app-left-btn{
				display: inline-block;
			}
			&#app-right-btn{
				display: inline-block;
			}
			&.panels{
				position: relative;
				display: flex;
				align-items: stretch;
				>div{
					&:nth-child(1){
						flex-grow: 0;
						position: absolute;
						top: 0px;
						left: initial;
						z-index: 10;
						width: 300px;
						left: -300px;
						&.visible{
							left: 0px;
						}
						#dismiss-left{
							display: inline-block;
						}
					}
					&:nth-child(2){
						flex-grow: 12;
					}
					&:nth-child(3){
						flex-grow: 0;
						position: absolute;
						top: 0px;
						left: initial;
						z-index: 9;
						width: 300px;
						right: -300px;
						&.visible{
							right: 0px;
						}
						#dismiss-right{
							display: inline-block;
						}
					}
				}
			}
		}
	}
}

@media(min-width: 720px){
	.app-container{
		>div{
			&.panels{
				position: relative;
				display: flex;
				align-items: stretch;
				>div{
					&:nth-child(2){
						flex-grow: 7;
					}
					&:nth-child(3){
						flex-grow: 5;
						position: relative;
						right: initial;
						width: initial;
						#dismiss-right{
							display: none;
						}
					}
				}
			}
		}
	}
}
@media(min-width: 999px){
	.app-container{
		>div{
			&.panels{
				position: relative;
				display: flex;
				align-items: stretch;
				>div{
					&:nth-child(2){
						flex-grow: 8
					}
					&:nth-child(3){
						flex-grow: 4;
						position: relative;
						width: initial;
					}
				}
			}
			#app-left-btn{
				display: inline-block;
			}
		}
	}
}
@media(min-width: 1200px){
	.app-container{
		>div{
			&.panels{
				display: flex;
				align-items: stretch;
				>div{
					&:nth-child(1){
						flex-grow: 3;
						position: relative;
						width: initial;
						left: initial;
						#dismiss-left{
							display: none;
						}
					}
					&:nth-child(2){
						flex-grow: 6;
					}
					&:nth-child(3){
						flex-grow: 3;
						position: relative;
						width: initial;
						right: initial;
					}
				}
			}
		}
	}
}

.bg-custom1{
	background-color: #0c4e84 !important;
}