@use 'variables';
@mixin cc_transition($x...){
	-webkit-transition: $x;
	-moz-transition: $x;
	-ms-transition: $x;
	-o-transition: $x;
}

.app1-nav{
	width: 100%;
	padding: 1px;
	text-align: center;
	background: #fb6b34;
	>a{
		color:inherit;
		text-decoration: none;
		&:hover,&:active,&:visited{
			text-decoration: none;
		}
		>label{
			cursor: pointer;
			padding: 10px 10px;
			color:white;
			margin-bottom: 0px;
			@include cc_transition( all .2s ease-in-out);

			&:hover{
				background: #e04f17;
				box-shadow: 2px 2px 2px 2px #e04f17;
			}
		}
	}
}
.app1-container{
	@media (min-width: 1200px) {
		width:1200px;
		margin: 5px auto; 
	}
}
.app1-top-image{
	position: relative;
	width: 100%;
}
.app1-parallax{

	background-image: url(variables.$parallax-image1);

	/* Set a specific height */
	height: 300px;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	position: relative;
}
@media only screen and (max-device-width: 1366px) {
	.app1-parallax { 
	}
}