<template>
	<div>
		<a :href="url_form_new">
			<b-btn variant=success size=sm>
				Nuevo
				<b-icon-plus />
			</b-btn>
		</a>
		<ul>
			<li class="item" v-for="(it,idx) in list" :key="idx">
				<div class="idx-text">
					{{ idx + 1 }}
				</div>
				<div class="full-text">
					<lorem add="15w" /><br />
					<b-btn variant=danger size=sm>
						<b-icon-trash />
						Eliminar
					</b-btn>
					<b-btn variant=primary size=sm>
						<b-icon-pencil />
						Editar
					</b-btn>
				</div>
			</li>
		</ul>
	</div>
</template>
<script>
	import Vue from 'vue'
	import LoremIpsum from 'vue-lorem-ipsum'
	Vue.component('lorem',LoremIpsum)
	export default{
		data(){
			return {
				list:[
					{
						title:'sitio principal | ABC',
					},
					{
						title:'sitio secundario | ABC',
					},
					{
						title:'noticias de último minuto | ABC',
					},
				],
			}
		},
		mounted(){

		},
		methods:{

		},
		props:{
			url_form_new:{
				type:String,
				required:true,
			},
		},
		filters:{

		},
		computed:{

		},
	}
</script>
<style lang=scss scoped>
	ul{
		padding-left: 5px;
	}
	.item{
		position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
		.idx-text{
			display: flex;
			padding: .5rem 1rem;
			font-size: 1.25rem;
			line-height: 1.5;
			border-radius: .3rem;
			border:	1px solid #e4e4e4;
			align-self: center;
		}
		.full-text{
			position: relative;
	    flex: 1 1 0%;
	    min-width: 0;
	    margin-bottom: 0;
	    padding: 5px 5px;
		}
	}
</style>