<template>
	<div>
		<div>
			<b-btn variant=info size=sm @click="page_save">Guardar</b-btn>
		</div>
		<div id="page_form_space_title">
			<label>Título:</label>
			<b-form-textarea
	      v-model="page_title_current"
	      placeholder="Título de la página"
	      rows="3"
	      max-rows="6"
	    ></b-form-textarea>
			<span>URL: /{{page_title_slug}}</span>
		</div>
		<div id="page_form_space_content">
			<label>Contenido:</label>
			<b-btn size=sm variant=info @click="page_content_make_bold">
				<b-icon-type-bold />
			</b-btn>
			<b-dropdown size=sm variant=info :text="`Font Size ${page_content_selected_font_size}`" class="m-md-2">
		    <b-dropdown-item v-for="(it,ii) in 7" :key="ii" @click="page_content_make_font_size(ii+1)">
		    	<span>Fuente: {{ii+1}}</span>
		    </b-dropdown-item>
		  </b-dropdown>
			<div style="display: inline-block;position: relative;">
				<b-btn size=sm variant=info @click="page_content_show_pallete = !page_content_show_pallete">
					Color
				</b-btn>
				<div class="page-content-pallete" v-show="page_content_show_pallete" >
		  		<chrome-picker v-model="page_content_colors" />
					<b-btn variant=success size=sm block @click="page_content_make_fore_color">Aplicar</b-btn>
				</div>
			</div>
			<b-btn size=sm variant=info @click="page_content_make_h1">
				<b-icon-type-h1 />
			</b-btn>
			<b-btn size=sm variant=info @click="page_content_make_p">
				P
			</b-btn>
			<b-btn size=sm variant=info @click="page_content_make_div">
				DIV
			</b-btn>
			<div contenteditable="true" v-html="page_content_current" @input="onEditPageContent" ></div>
		</div>
	</div>
</template>
<script>
	import Vue from 'vue'
	import urlSlug from 'url-slug'
	export default{
		data(){
			return {
				page_title_slug:'',
				page_title_current:'',
				page_content_current:'',
				page_content_edit:'',
				page_content_selected_font_size:1,
				page_content_show_pallete:false,
				page_content_colors: '#194d33',
			}
		},
		mounted(){
		},
		methods:{
			randInt(){
				return window.parseInt(Math.random()*1000000)
			},
			onEditPageContent(evt){
				let src = evt.target.innerHTML
				console.log(src)
     		this.page_content_edit = src
			},
			page_content_make_bold(){
				document.execCommand('bold',false,null)
			},
			page_content_make_font_size(val){
				this.page_content_selected_font_size = val
				document.execCommand('fontSize',false,val)
			},
			page_content_make_fore_color(){
				console.log(this.page_content_colors)
				document.execCommand('foreColor',false,`${this.page_content_colors.hex8}`)
			},
			page_content_make_h1(){
				document.execCommand('formatBlock',false,'<h1>')
			},
			page_content_make_p(){
				document.execCommand('formatBlock',false,'<p>')
			},
			page_content_make_div(){
				document.execCommand('formatBlock',false,'<div>')
			},
			page_save(){
				Swal.fire({
				  title: 'Guardar página?',
				  text: "",
				  icon: 'warning',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  cancelButtonColor: '#d33',
				  confirmButtonText: 'Guardar'
				}).then((result) => {
				  if (result.value) {
				  	let data = {
				  		title:this.page_title_current,
				  		content:this.page_content_edit,
				  	}
			  		Swal.fire({
						  icon: 'info',
						  title: 'Espere por favor...',
						  text: '',
						})
				  	axios({
				  		url:this.ws_create,
				  		method:'POST',
				  		data,
				  	}).then(evt=>{
				  		Swal.close()
				  		Swal.fire({
							  icon: 'success',
							  title: 'Página guardada',
							  text: '',
							})
				  	}).catch((err)=>{
				  		Swal.fire({
							  icon: 'error',
							  title: 'Oops...',
							  text: 'No se pudo guardar la página',
							})
				  	})
				  }
				})
			},
		},
		props:{
			page_title:{
				type:String,
				default:'',
			},
			page_url:{
				type:String,
				default:''
			},
			ws_create:{
				type:String,
				required:true,
			},
			ws_update:{
				type:String,
				required:true,
			},
			ws_delete:{
				type:String,
				required:true,
			},
		},
		filters:{

		},
		watch:{
			page_title(new_val, old_val){
				this.page_title_current = new_val
			},
			page_title_current(new_val, old_val){
				this.page_title_slug = `${urlSlug(this.page_title_current)}`
			},
			page_content_colors(new_val,old_val){
				document.execCommand('foreColor',false,new_val.rgb)
			},
		},
		computed:{
		},
	}
</script>
<style lang=scss scoped>
#page_form_space_title{
	>div{
		min-height: 50px;
		width:100%;
		border:1px solid #bbb;
	}
}
#page_form_space_content {
	>div[contenteditable]{
		min-height: 100px;
		width:100%;
		border:1px solid #bbb;
	}
}
.page-content-pallete{
	position: absolute;
  left: 100%;
  bottom: 0px;

}
</style>